<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Login-Signup</title>
    <link rel="stylesheet" href="/login.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script>
        function checkPassword() {
            let password = document.getElementById("password").value;
            let cnfrmPassword = document.getElementById("cnfrm-password").value;
            console.log(password, cnfrmPassword);
            let message = document.getElementById("message");
            if (password.length != 0) {
                if (password == cnfrmPassword) {
                    alert("Password match");
                    message.style.backgroundColor = "#3ae374";
                }
                else {
                    alert("Password didn't match");
                    message.style.backgroundColor = "#3ae374";
                }
            } else {
                alert("Fields can't be empty")
                message.style.backgroundColor = "#3ae374";
            }
        }
    </script> -->
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <div class="text">
                    <span class="text-1">Medicon</span>
                    <span class="text-2">Take it easy</span>
                </div>
            </div>
            <div class="back">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form action="/index" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="Enter your password" required>
                            </div>
                            <div class="text"><a href="#">Forgot password?</a></div>
                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form action="/login" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" id="name" name="fullname" placeholder="Enter your name" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" id=" " name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>

                                <input type="password" id="password" name="password" placeholder="enter password">
                            </div>
                            <!-- <div class="input-box">
                                <i class="fas fa-lock"></i>

                                <input type="password" id="cnfrm-password" name="confirmpassword"
                                    placeholder="confirm password here">
                            </div> -->
                            <p id="message"></p>
                            <div class="button input-box">
                                <input class="button" type="submit" onclick="checkPassword()" value="Submit">
                            </div>
                            <div class="text sign-up-text">Already have an account? <label for="flip">Login
                                    now</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>