<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MEDICON-medicines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/medicines.css">
    <link rel="stylesheet" href="/headers.css">
  </head>
  <body>
 
  <h1>Page is incomplete</h1>   
    <!-- products section  -->
    <section class = "products">
      <div class = "container">
        <h2>Our Products</h2>
        <div class = "product-list">
          <!-- single item -->
          <div class = "product-item">
            <div class = "product-img">
              <img src = "images/bed.png" alt = "product image">
              <button type = "button" class = "add-to-cart-btn">
                <i class = "fas fa-shopping-cart"></i>Add To Cart
              </button>
            </div>

            <div class = "product-content">
              <h3 class = "product-name">Dolo 650</h3>
              
              <p class = "product-price">120.00</p>
            </div>
          </div>
          <!-- end of single item -->
          <div class = "product-item">
            <div class = "product-img">
              <img src = "images/bed.png" alt = "product image">
              <button type = "button" class = "add-to-cart-btn">
                <i class = "fas fa-shopping-cart"></i>Add To Cart
              </button>
            </div>

            <div class = "product-content">
              <h3 class = "product-name">Dolo</h3>
             
              <p class = "product-price">120.00</p>
            </div>
          </div>
          <div class = "product-item">
            <div class = "product-img">
              <img src = "images/bed.png" alt = "product image">
              <button type = "button" class = "add-to-cart-btn">
                <i class = "fas fa-shopping-cart"></i>Add To Cart
              </button>
            </div>

            <div class = "product-content">
              <h3 class = "product-name">Dolo</h3>
              
              <p class = "product-price">120.00</p>
            </div>
          </div>
          <div class = "product-item">
            <div class = "product-img">
              <img src = "images/bed.png" alt = "product image">
              <button type = "button" class = "add-to-cart-btn">
                <i class = "fas fa-shopping-cart"></i>Add To Cart
              </button>
            </div>

            <div class = "product-content">
              <h3 class = "product-name">Dolo</h3>
             
              <p class = "product-price">120.00</p>
            </div>
          </div>
        </div>
         
          </div>
      </div>
    </section>
    <!--2nd row-->
    <section class = "products">
        <div class = "container">
          <div class = "product-list">
            <!-- single item -->
            <div class = "product-item">
              <div class = "product-img">
                <img src = "images/bed.png" alt = "product image">
                <button type = "button" class = "add-to-cart-btn">
                  <i class = "fas fa-shopping-cart"></i>Add To Cart
                </button>
              </div>
  
              <div class = "product-content">
                <h3 class = "product-name">Dolo</h3>
               
                <p class = "product-price">120.00</p>
              </div>
            </div>
            <!-- end of single item -->
            <div class = "product-item">
              <div class = "product-img">
                <img src = "images/bed.png" alt = "product image">
                <button type = "button" class = "add-to-cart-btn">
                  <i class = "fas fa-shopping-cart"></i>Add To Cart
                </button>
              </div>
  
              <div class = "product-content">
                <h3 class = "product-name">Dolo</h3>
               
                <p class = "product-price">120.00</p>
              </div>
            </div>
            <div class = "product-item">
              <div class = "product-img">
                <img src = "images/bed.png" alt = "product image">
                <button type = "button" class = "add-to-cart-btn">
                  <i class = "fas fa-shopping-cart"></i>Add To Cart
                </button>
              </div>
  
              <div class = "product-content">
                <h3 class = "product-name">Dolo</h3>
                
                <p class = "product-price">120.00</p>
              </div>
            </div>
            <div class = "product-item">
              <div class = "product-img">
                <img src = "images/bed.png" alt = "product image">
                <button type = "button" class = "add-to-cart-btn">
                  <i class = "fas fa-shopping-cart"></i>Add To Cart
                </button>
              </div>
  
              <div class = "product-content">
                <h3 class = "product-name">Dolo</h3>
                
                <p class = "product-price">120.00</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>



  <!--3rd row-->
  <section class = "products">
    <div class = "container">
      <div class = "product-list">
        <!-- single item -->
        <div class = "product-item">
          <div class = "product-img">
            <img src = "images/bed.png" alt = "product image">
            <button type = "button" class = "add-to-cart-btn">
              <i class = "fas fa-shopping-cart"></i>Add To Cart
            </button>
          </div>

          <div class = "product-content">
            <h3 class = "product-name">Dolo</h3>
            
            <p class = "product-price">120.00</p>
          </div>
        </div>
        <!-- end of single item -->
        <div class = "product-item">
          <div class = "product-img">
            <img src = "images/bed.png" alt = "product image">
            <button type = "button" class = "add-to-cart-btn">
              <i class = "fas fa-shopping-cart"></i>Add To Cart
            </button>
          </div>

          <div class = "product-content">
            <h3 class = "product-name">Dolo</h3>
            
            <p class = "product-price">120.00</p>
          </div>
        </div>
        <div class = "product-item">
          <div class = "product-img">
            <img src = "images/bed.png" alt = "product image">
            <button type = "button" class = "add-to-cart-btn">
              <i class = "fas fa-shopping-cart"></i>Add To Cart
            </button>
          </div>

          <div class = "product-content">
            <h3 class = "product-name">Dolo</h3>
            
            <p class = "product-price">120.00</p>
          </div>
        </div>
        <div class = "product-item">
          <div class = "product-img">
            <img src = "images/bed.png" alt = "product image">
            <button type = "button" class = "add-to-cart-btn">
              <i class = "fas fa-shopping-cart"></i>Add To Cart
            </button>
          </div>

          <div class = "product-content">
            <h3 class = "product-name">Dolo</h3>
            
            <p class = "product-price">120.00</p>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

 
    <!-- end of products section -->
<!-- <script src="medicines.js"></script> -->
  </body>
</html>